@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
:focus {
  outline: 0;
}
.clear {
  clear: both;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox'ta da gizlemek için */
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Rubik", sans-serif;
}

.header {
  background-image: url(./assets/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  position: relative;
  z-index: 10000;
}

.header .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  
}

.input-container h1 {
  color: #fff;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 93.75% */
  letter-spacing: -0.286px;
  margin-bottom: 31px;
}

.form {
  width: 555px;
}

.form .form-control {
  width: 100%;
  height: 100%;
  position: relative;
}

.form-control .input {
  width: calc(100% - 74px);
  height: 58px;
  border-radius: 15px;
  padding-left: 24px;
  padding-right: 50px;
  font-size: 18px;
  color: #2c2c2c;
  font-style: normal;
  font-weight: 400;
}

.form-control .btn {
  position: absolute;
  background-color: #3f3f3f;
  width: 58px;
  height: 58px;
  top: 0;
  right: -1px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.header .info {
  background-color: #fff;
  position: absolute;
  bottom: -60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1110px;
  height: 161px;
  border-radius: 15px;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
}

.info ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.info ul li {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  gap: 13px;
}

.info ul li:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.info ul li h3 {
  color: #2c2c2c;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.75px;
  opacity: 0.4987;
  text-transform: uppercase;
}

.info ul li p {
  color: #2c2c2c;
  font-family: Rubik;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 115.385% */
  letter-spacing: -0.232px;
  width: 210px;
  text-align: center;
}

.main {
  height: 60vh;
  width: 100%;  
position: relative;
 
}

.main div{
  z-index: -1;
}


 

@media (max-width : 478px) {

  .form {
    width: 327px;
  }

  input , input::placeholder{
font-size: 14px;

  }

  .header .info{
    width: 327px;
height: 294px;
bottom: -80%;
  }

  .info ul{
    flex-direction: column;
    
  }



  .info ul li h3{
    font-size: 10px;
  }

  .info ul li p {
    font-size: 20px;
  }
}